<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set, viewport, and compatibility -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking to Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Custom styling with additional styles for FontAwesome icons -->
    <style>
        .fas,
        .fab {
            font-size: 30px;
        }
        .fa-home {
            font-size: 40px;
        }
    </style>
    <!-- Title of the HTML page -->
    <title>hamzacamping.com</title>
</head>
<body>
    <!-- Navigation bar using Bootstrap classes -->
    <div class="navbar navbar-expand-lg bg-secondary navbar-dark text-white">
        <div class="container-fluid">
            <!-- Home link with a home icon -->
            <a href="/" class="navbar-brand"><i class="fas fa-home"></i></a>
            <!-- Button for toggling the navigation menu on small screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu"><span class="navbar-toggler-icon"></span></button>
            <!-- Navigation menu with links -->
            <div class="collapse navbar-collapse" id="mainmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a href="/services" class="nav-link"><i class="fas fa-users-cog"></i></a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link"><i class="fas fa-address-card"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Section One with a dark background, light text, and a text-center alignment -->
    <section id="hero" class="bg-dark text-light text-center text-md-start py-5">
        <div class="container-fluid d-flex align-items-center">
            <!-- Text content in the left column -->
            <div>
                <h1 class="display-4 lead">WELCOME TO <span class="text-info">HAMZACAMPING</span></h1>
                <p class="py-1 lead"> Find the best camping for your vacation.  </p>
                <!-- Additional information about days and destinations -->
                <p class="py-1 lead">MONDAY TO <span class="text-info">DJERBA</span> </p>
                <p class="py-1 lead">TUESDAY TO <span class="text-info">DJERBA</span> </p>
                <p class="py-1 lead">WEDNESDAY TO <span class="text-info"> DOUZ</span> </p>
                <p class="py-1 lead">THURSDAY TO <span class="text-info">BIZERT</span></p>
                <p class="py-1 lead">FRIDAY TO <span class="text-info">SOUSSE</span> </p>
            </div>
            <!-- Image column visible only on medium and larger screens -->
            <div class="d-none d-sm-block img-fluid w-50">
                <!-- SVG image with specified width and height -->
                <img width="490" height="490" src="https://www.svgheart.com/wp-content/uploads/2021/11/SvgHeart.Com-560.png" class="wp-post-image" alt="SvgHeart.Com" title="SvgHeart.Com" data-caption="" data-src="https://www.svgheart.com/wp-content/uploads/2021/11/SvgHeart.Com-560.png" data-large_image="https://www.svgheart.com/wp-content/uploads/2021/11/SvgHeart.Com-560.png" data-large_image_width="463" data-large_image_height="430" decoding="async" fetchpriority="high" srcset="https://www.svgheart.com/wp-content/uploads/2021/11/SvgHeart.Com-560.png 463w, https://www.svgheart.com/wp-content/uploads/2021/11/SvgHeart.Com-560-300x279.png 300w, https://www.svgheart.com/wp-content/uploads/2021/11/SvgHeart.Com-560-324x301.png 324w, https://www.svgheart.com/wp-content/uploads/2021/11/SvgHeart.Com-560-416x386.png 416w" sizes="(max-width: 463px) 100vw, 463px">
            </div>
        </div>
    </section>
    <!-- Bootstrap and FontAwesome JavaScript libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/00290e20bc.js" crossorigin="anonymous"></script>
</body>
</html>
